<?xml version="1.0"?>
<launch>

    <node name="ig1_node" pkg="openzen_sensor" type="openzen_sensor_node" output="screen">
    	<param name="name" value="ig1_node" type="str"/>
	    <param name="sensor_interface" value="Bluetooth" type="str"/>
	    <param name="sensor_name" value="00:04:3E:6C:51:DC" type="str"/>
	    <param name="imu" value="/ig1_node" type="str"/>  
   </node> 

 
        

</launch>